*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
}

/* generics */

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #ff6800;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: white;
}

/* header */

img{
    height: 25px;
    position: relative;
    top: 0;
    right: 30px;
}
