*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
}

/* generics */

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #ff6800;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: white;
}

/* header */

img{
    height: 25px;
    position: relative;
    top: 0;
    right: 30px;
}

/* main */

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.col{
    width: calc((100% / 3) - (40 / 3));
}
.card{
    position: relative;
}
.img-card{
    height: 450px;
    position: static;
}

.discount-green.no-left{
    left: 0;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1025px;
    margin: 30px auto;
    padding: 20px;
}

/* utils */

.discount-red{
    position: absolute;
    font-size: 9px;
    padding: 5px 7px;
    bottom: 60px;
    left: 0;
    background-color: red;

}

.discount-green{
    position: absolute;
    font-size: 9px;
    padding: 5px 7px;
    bottom: 60px;
    left: 36px;
    background-color: green;
}

.fa-heart{
    position: absolute;
    top: 5px;
    right: 0;
    color: black;
    background-color: white;
    padding: 4px 8px;
}

.brand{
    color: #333333;
    font-size: 9px;
}

.type-of-dress{
    color: black;
    font-size: 11px;
    font-weight: bold;
}

.price{
    color: red;
    font-size: 9px;
}

.deleted-text{
    text-decoration: line-through;
    color: #333333;
}

.bg-black{
    background-color: black;
}

.legal-information{
    color: #eeee;
    font-size: 9px;
}

.font-where-to-search{
    font-size: 10px;
}
